
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngFor="let number of listMovie;  let i=index">
<div *ngIf="i<3">  
<div class="gallery-cate">
    <div class="gallery">
      <a target="_blank" href="./assets/img/home__bg.jpg">
        <img src="{{number.image}}" alt="tranformer" width="600" height="400">
      </a>
      <div class="container">
        <p class="gallery-title" style="font-size: 80%;">{{number.title}}</p>
        <div class="user-view">
          <div class="gallery-user"><i style="font-size:80%;">{{number.name}}</i></div>
          <i class="eye fa fa-eye">{{number.count_view}}</i>
        </div>
        <div>
          <span class="desc"></span>
        </div>
        <div>
          <a routerLink="/detail" class="details">See more...</a>
        </div>
      </div>   
    </div>  
</div>      
    